server:
  port: 8080

spring:
  application:
    name: application
  config:
    import: configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/banking realm
          jwt-set-uri: http://localhost:8080/realms/banking realm/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/