server:
  port: 8080

spring:
  application:
    name: application
  config:
    import: configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true


eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/